@font-face{
    font-family: "ShadowHill";
    src: url("ShadowHill-Regular.otf");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}


#container {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

#container img{
    width: 100%;
    height: 100%;
}

#image-scroll{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#image-scroll img {
    height: 10vh;
    width: 10vw;
    margin-right: 6px;
    margin-bottom: 6px;
    object-fit: cover;
    filter: grayscale(100%);
}
#image-scroll img:hover {
    filter: grayscale(0%);
}

#sidebar {
    border-right: solid #e3dddd thin;
    margin-right: 2vw;
    font-family: ShadowHill;
    text-transform: uppercase;
    padding-right: 2vw;
    padding-left: 4vw;
    text-align: right;
    height: 100%;
}

#sidebar :not(:first-child):not(span){
    font-size: xx-large;
}

#sidebar :first-child{
    font-size: xxx-large;
    text-align: left;
    white-space: nowrap;
}

#sidebar :not(:first-child).selected {
  margin-right: -1vw;
}

#contact-page {
  font-family: arial;
  font-variant: small-caps; 
}

@media (orientation: portrait){
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
  }

  #sidebar {
    border-right: none;
    border-bottom: solid #e3dddd;
    margin-bottom: 2vh;  
  }

  #image-scroll {
    margin-top: 2vh;
  }

  #sidebar{
    text-align: center;
    font-size: 100px;
  }

  #sidebar :not(:first-child){
    margin: 0;
  }

  #sidebar :first-child{
    text-align: center;
    font-size: 200px;
    margin: 0;
  }

  #sidebar :not(:first-child).selected {
    margin-right: -1vh;
    color: #b70000;
  }

  #contact-page {
    margin-top: 1vh;
    font-size: 100px;
    text-align: center;
  }
  #image-scroll img {
    height: 10vw;
    width: 10vh;
  }
}

#contact-page img {
  height: 50vh;
  width: 50vh;
  border-radius: 2000px;
  filter: grayscale(100%);
  
}

span {
  color: #b70000;
}