@font-face{
    font-family: "ShadowHill";
    src: url("ShadowHill-Regular.otf");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.hidden {
  opacity: 0%;
}

#container {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}


#image-preview{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

#image-preview img {
    height: 10vh;
    width: 10vw;
    margin-right: 6px;
    margin-bottom: 6px;
    object-fit: cover;
    filter: grayscale(100%);
}

#image-preview img:hover {
    filter: grayscale(0%);
}

@media (orientation: landscape) {
  #main-image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  #gallery{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  #image-preview{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #container{
    position: absolute;
  } 
  
  #sidebar {
  }

  #contact-page{
    position: absolute;
    left: 30%;
    top: 10%;
  }
  
  

}

#sidebar {
    border-right: solid #e3dddd thin;
    margin-right: 2vw;
    font-family: ShadowHill;
    text-transform: uppercase;
    padding-right: 2vw;
    padding-left: 4vw;
    text-align: right;
    height: 100%;
}

#sidebar a{
  display: block;
  margin: 1vh;
}

#sidebar a:visited{
  color: black;
}

#sidebar :not(:first-child):not(span){
    font-size: xx-large;
}

#sidebar :first-child{
    font-size: xxx-large;
    white-space: nowrap;
}

#sidebar :not(:first-child).selected {
  margin-right: -1vw;
}

#contact-page {
/*   position: relative; */
  font-family: arial;
  font-variant: small-caps;
}

#sidebar :not(:first-child).selected {
    margin-right: -1vh;
    color: #b70000;
}

@media (orientation: portrait){
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
  }

  #main-image{
    width: 100%;
    object-fit: contain;
  }

  #image-preview {
    margin-top: 2vh;
  }

  #sidebar{
    border-right: none;
    border-bottom: solid #e3dddd;
    margin-bottom: 2vh;  
    text-align: center;
  }

  #sidebar :not(:first-child){
    margin: 0;
  }

  #sidebar p:not(:first-child){
    font-size: 80px;
    
  }

  #sidebar :first-child{
    text-align: center;
    font-size: 200px;
    margin: 0;
  }

  #contact-page {
    margin-top: 1vh;
    font-size: 100px;
    text-align: center;
  }
  #image-preview img {
    height: 10vw;
    width: 10vh;
  }
}

#contact-page img {
  height: 50vh;
  width: 50vh;
  border-radius: 2000px;
  filter: grayscale(100%);
  
}

span {
  color: #b70000;
}